body{
    background-color: #1A1A1D;
    text-align: center;
    justify-content: center;
}
img {
    justify-content: center;
    height: 200px;
    width: 150px;
    padding: 5px;
}

input{
    height: 30px;
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid rgb(196, 56, 56);
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: rgb(196, 56, 56);
    border: none;
    width: 15%;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(158, 5, 5);
}

.movies-container {
    padding-right: 10%;
    padding-left: 10%;
}

.header-image {
    height: 80px;
    width: auto;
}
header{
    display: flex;
}

/*Navegation menu*/
.navbar {
    background-color:rgb(196, 56, 56);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    text-align: center;
  }
  
  .navbar a:hover {
    background-color:rgb(158, 5, 5);
    border-radius: 4px;
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar a {
    text-align: left;
    padding: 10px 20px;
    width: 100%;
  }

  .dropdown-content {
    position: static;
    background-color: #333;
  }

  .dropdown-content a {
    padding: 10px 20px;
  }
}

.navbar a:first-child {
  order: -1; 
}

.logo {
  width: 40px; 
  height: auto;
  display: flex; 
  position: fixed;
  align-items: center; 
}
