body{
    background-color: #1A1A1D;
    text-align: center;
    justify-content: center;
    margin-top: 150px
}
/*Diseño para el buscador*/
.search-container{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
}

body .navbar input {
  height: 30px;
  width: 70%;
  min-width: 58%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid rgb(196, 56, 56);
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  margin-left: 20%;
}

body .navbar button {
  cursor: pointer;
  background-color: rgb(196, 56, 56);
  border: none;
  height: 50px;
  border-radius: 5px;
}

body .navbar button:hover {
  background-color: rgb(183, 0, 0);
}
/*Contenedor de películas para el index*/
.movies-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap
}

header{
    display: flex;
}
/*Diseño para el menú de navegación*/
.navbar {
    background-color:#1A1A1D;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    gap: 20px;  
    justify-content: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    text-align: center;
  }
  
  .navbar a:hover {
    color:rgb(196, 56, 56);
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
/*Responsive para el menú de navegación*/
@media screen and (max-width: 768px) {
body {
  margin-top: 250px
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
}
.navbar-menu {
  display: none;
  flex-direction: column;
  width: 100%;
}
.navbar-menu.active {
  display: flex;
}
.navbar a {
  text-align: left;
  padding: 10px 20px;
  width: 100%;
}
.search-container {
  width: 80%; 
}
body .navbar input {
  width: 100%; 
}
body .navbar button {
  width: 100%; 
  margin-top: 10px; 
}}

/*Diseño para las tarjetas de peliculas*/
.movie-card {
  max-width: 150px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s;
  background-color: #1A1A1D;
  margin: 5px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 150px;
  height: 200px;
  border-radius: 8px;
}

.movie-card h3 {
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: bold;
}


/* Estilos para el ícono de hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Mostrar el icono de hamburguesa solo en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar a {
    text-align: left;
    padding: 10px 20px;
    width: 100%;
  }
}

/*Diseño para la segunda swal-alert*/
.swal-container {
  max-width: 1200px;  
  margin: 0 auto; 
  display: flex;
}

.swal-image {
  width: 120%;
  justify-self: left;
  margin: 5%;
}

.swal-text {
  justify-self: right;
  text-align: justify;
  align-self: center;
}

.swal-cast-container {
  justify-self: left;
  text-align: left;
  margin-right: 5%;
}

.swal-description-container {
  justify-self: justify;
  text-align: left;
}

.swal-info {
  display: flex;
}
/*Responsive para la segunda swal-alert*/
@media screen and (max-width: 768px) {
  .swal-container {
    width: 80%;
    max-width: 1200px;  
    margin: 0 auto; 
    display: block;
  }

  .swal-image {
    max-width: 100%;
    justify-self: left;
    margin: 5%;
  }
}